@inherits HookComponentBase
@inject IMediator Mediator

@code {
    [Parameter, EditorRequired]
    public MessageId MessageId { get; set; } = null!;
}

@{
    var (load, setLoad) = Hook.UseState(false);
}

<FluentAccordion>
    <FluentAccordionItem @onclick=@(() => setLoad(!load))>
        <div slot="heading">Actors</div>

        @if (load)
        {
            <FluentLoader Fetch=@LoadActors>
                <div style="height: 25vh">
                    <CascadingValue Value=@context>
                        <DiagramCanvas></DiagramCanvas>
                    </CascadingValue>
                </div>
            </FluentLoader>
        }
    </FluentAccordionItem>
</FluentAccordion>