@inherits HookComponentBase
@inject IMediator Mediator

@code {
    [Parameter, EditorRequired]
    public MessageId MessageId { get; set; } = null!;
}

@{
    var (load, setLoad) = Hook.UseState(false);
}

<HxAccordion ExpandedItemIdChanged=@(() => setLoad(!load))>
    <HxAccordionItem>
        <HeaderTemplate>Actors</HeaderTemplate>
        <BodyTemplate>
            @if (load)
            {
                <FluentLoader Fetch=@LoadActors>
                    <div style="height: 25vh">
                        <CascadingValue Value=@context>
                            <DiagramCanvas></DiagramCanvas>
                        </CascadingValue>
                    </div>
                </FluentLoader>
            }
        </BodyTemplate>
    </HxAccordionItem>
</HxAccordion>