@inherits HookComponentBase
@inject IMediator Mediator;

@code {
    [Parameter, EditorRequired]
    public Guid ConversationId { get; set; }

    private async Task<GridDataProviderResult<IRawAuditData>> FetchConversation(GridDataProviderRequest<IRawAuditData> request)
    {
        var result = (await this.Mediator.Send(new ConversationById(ConversationId))).ToList();

        return new GridDataProviderResult<IRawAuditData>
            {
                Data = result,
                TotalCount = result.Count,
            };
    }
}

<HxAccordion>
    <HxAccordionItem>
        <HeaderTemplate>Conversation</HeaderTemplate>
        <BodyTemplate>
            <HxGrid DataProvider="FetchConversation" TItem=IRawAuditData>
                <Columns>
                    <HxGridColumn TItem=IRawAuditData HeaderText="Sent" ItemTextSelector=@(x => x.SentTime.GetValueOrDefault().ToString()) />
                    <HxGridColumn TItem=IRawAuditData HeaderText="Type" ItemTextSelector=@(x => x.MessageType) />
                    <HxGridColumn TItem=IRawAuditData>
                        <ItemTemplate>
                            <a href=@($"message/{context.AuditRecordId}")>Details</a>
                        </ItemTemplate>
                    </HxGridColumn>
                </Columns>
            </HxGrid>
        </BodyTemplate>
    </HxAccordionItem>
</HxAccordion>
