@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<EndpointState> State
@inject IDispatcher Dispatcher

@code {
    [Parameter, EditorRequired]
    public Core.Domain.EndpointId? EndpointId { get; set; }
}

<FluentCard>
    <div>
        <h2>@EndpointId</h2>
    </div>
    <StatCard Loading=@State.Value.Loading Title="" Rate="msg/sec" Stat=@State.Value.Rate.ToString("0") />
</FluentCard>
