@page "/message/conversation/{conversationId:guid}"
@using Blazor.Diagrams.Core;
@using Blazor.Diagrams.Core.Models;
@using Blazor.Diagrams.Components;

@if (!this.HasLoaded)
{
    <MudSkeleton Animation="Animation.Wave" />
}
else if (this.Response is null)
{
    <H5>Conversation Not Found</H5>
}
else
{
    <div style="width: 100vw; height: calc(100vh - 64px)">
        <CascadingValue Value="Diagram">
            <DiagramCanvas></DiagramCanvas>
        </CascadingValue>
    </div>
}