@page "/"
<DTPageTitle>Dashboard</DTPageTitle>

<div class="container">
    <div class="widgets">
        <MessageRate/>
        <FaultCount />
        <FailureRate />
        @* <ProcessingRate/> *@
    </div>
</div>