.container {
    margin: 1rem
}

.widgets {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}

::deep fluent-card {
    min-height: 10rem;
    padding: 1rem;
}

::deep fluent-progress-ring {
    width: 100%;
}