@page "/"
@using DashTransit.App.Components

<PageTitle>DashTransit</PageTitle>

<div class="container">
    <h1>Explore your MassTransit</h1>
    <div class="widgets">
        <MessageRate/>
        <ProcessingRate/>
    </div>
</div>