@page "/"
@using DashTransit.App.Components

<PageTitle>DashTransit</PageTitle>

<div class="container">
    <h1>Explore your MassTransit</h1>
    <div class="widgets">
        <MessageRate/>
        <FaultCount />
        <FailureRate />
        @* <ProcessingRate/> *@
    </div>
</div>