@page "/endpoint"
<DTPageTitle>Endpoints</DTPageTitle>

@inject IMediator Mediator

@code {
    private async Task<IEnumerable<EndpointId>> FetchEndpoints()
        => await this.Mediator.Send(new Core.Application.Queries.Endpoints());
}

<FluentLoader Fetch=@FetchEndpoints>
    <div class="container">
        @foreach (var endpoint in context)
        {
            <DashTransit.App.Components.Endpoint EndpointId=@endpoint />
        }
    </div>
</FluentLoader>