@page "/endpoint"

@inject IMediator Mediator

@code {
    private Task<IEnumerable<EndpointId>> FetchEndpoints()
        => this.Mediator.Send(new Core.Application.Queries.Endpoints());
}

<Loader Load=@FetchEndpoints>
    <Loaded>
        <div class="container">
            @foreach (var endpoint in context)
            {
                <DashTransit.App.Components.Endpoint EndpointId=@endpoint />
            }
        </div>
    </Loaded>
</Loader>