@page "/fault"
@inherits HookComponentBase
@inject IMediator Mediator

@code {
    private async Task<GridDataProviderResult<LatestFault>> FetchFaults(GridDataProviderRequest<LatestFault> request)
    {
        var faults = await this.Mediator.Send(new LatestFaultsQuery(request.StartIndex, request.Count!.Value));

        return new GridDataProviderResult<LatestFault>
        {
            Data = faults.Items,
            TotalCount = faults.Total,
        };
    }
}

<HxGrid DataProvider="FetchFaults" PageSize=25 TItem=LatestFault>
    <Columns>
        <HxGridColumn HeaderText="Produced" TItem=LatestFault>
            <ItemTemplate>
                <a href=@($"fault/{context.Id}")>@context.Produced</a>
            </ItemTemplate>
        </HxGridColumn>
        <HxGridColumn TItem=LatestFault HeaderText="Produced By" ItemTextSelector=@(x => x.ProducedBy.Value.ToString()) />
        <HxGridColumn TItem=LatestFault HeaderText="Type" ItemTextSelector=@(x => x.Type.Value) />
        <HxGridColumn TItem=LatestFault HeaderText="Exception" ItemTextSelector=@(x => x.Exception ?? string.Empty) />
    </Columns>
</HxGrid>