@page "/fault/{FaultId:int}"
@using Newtonsoft.Json
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<FaultState> State

@code {

    [Parameter]
    public int FaultId { get; set; }

}

<Loader IsLoading=@State.Value.Loading>
    <div class="container">
        @if (State.Value is null)
        {
            <p>Message not found</p>
        }
        else
        {
            <div>
                <h3>@State.Value.Fault!.Exceptions.First().Message</h3>
                <dl>
                    <DL T="Message Id">
                        <FluentAnchor Appearance="Appearance.Hypertext" Href=@($"/message/{State.Value.Fault!.Message!.AuditRecordId}")>@(State.Value.Fault!.MessageId)</FluentAnchor>
                    </DL>
                    <DL T="Faulted" D=@(State.Value.Fault!.Produced)/>
                    <DL T="Endpoint" D=@(State.Value.Fault!.ProducedBy)/>
                    <DL T="Exception Type" D=@(State.Value.Fault.Exceptions.First().ExceptionType)/>
                    <DL T="Source" D=@(State.Value.Fault.Exceptions.First().Source)/>
                </dl>
            </div>
            <pre>@State.Value.Fault.Exceptions.First().StackTrace</pre>
        }
    </div>
</Loader>