@page "/"

<PageTitle>DashTransit</PageTitle>

<h1>Explore your MassTransit</h1>

<FluentCard>
  <h2>Hello World!</h2>
  <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>