.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    padding: 1rem 0;
}

.container code {
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    background: var(--neutral-layer-2);
    border-radius: calc(var(--layer-corner-radius) * 1px);
    margin-right: 1rem;
    overflow-x: auto;
}

::deep .default-node {
    background: var(--neutral-layer-3);
}