@page "/message"
@inherits HookComponentBase
@inject IMediator Mediator
@code {
    private async Task<GridDataProviderResult<LatestMessages>> FetchMessages(GridDataProviderRequest<LatestMessages> request)
    {
        var messages = await this.Mediator.Send(new LatestMessagesQuery(request.StartIndex, request.Count!.Value));

        return new GridDataProviderResult<LatestMessages>
        {
            Data = messages.Items,
            TotalCount = messages.Total,
        };
    }
}

<HxGrid DataProvider="FetchMessages" PageSize=25 TItem=LatestMessages>
    <Columns>
        <HxGridColumn HeaderText="Produced" TItem=LatestMessages>
            <ItemTemplate>
                <a href=@($"message/{context.Id}")>@context.Sent</a>
            </ItemTemplate>
        </HxGridColumn>
        <HxGridColumn TItem=LatestMessages HeaderText="Produced By" ItemTextSelector=@(x => x.Sender.Value.ToString()) />
        <HxGridColumn TItem=LatestMessages HeaderText="Type" ItemTextSelector=@(x => x.MessageType.Value) />
    </Columns>
</HxGrid>