@typeparam T

@code {
    [Parameter, EditorRequired]
    public RenderFragment<T> ChildContent { get; init; } = null!;

    [Parameter, EditorRequired]
    public Func<Task<T>> Fetch { get; init; } = null!;

    [Parameter]
    public object[]? Dependencies { get; init; }
}

<BlazorHooked.Loader Load=@Fetch Dependencies=@Dependencies>
    <Loading>
        <div style="width: 100%; display: flex; justify-content: center">
            <FluentProgressRing />
        </div>
    </Loading>
    <Loaded>@ChildContent(context)</Loaded>
    <Failed>Doh...</Failed>
</BlazorHooked.Loader>