@inherits LayoutComponentBase

<PageTitle>DashTransit</PageTitle>

<main>
    <nav>
        <h1>DashTransit</h1>
        <FluentAnchor class="side-link" href="/" Appearance=@Appearance.Lightweight>Messages</FluentAnchor>
        <FluentAnchor class="side-link" href="fault" Appearance=@Appearance.Lightweight>Faults</FluentAnchor>
        <FluentAnchor class="side-link" href="endpoint" Appearance=@Appearance.Lightweight>Endpoints</FluentAnchor>
    </nav>
    <article>
        @Body
    </article>
</main>