@inherits LayoutComponentBase

<PageTitle>DashTransit</PageTitle>

<main>
    <nav>
        <h1>DashTransit</h1>
        <a class="side-link" href="/">Dashboard</a>
        <a class="side-link" href="message">Messages</a>
        <a class="side-link" href="fault">Faults</a>
        <a class="side-link" href="endpoint">Endpoints</a>
    </nav>
    <article>
        @Body
    </article>
</main>