@inherits LayoutComponentBase

<PageTitle>DashTransit</PageTitle>

<main class="d-md-flex min-vh-100">
    <HxSidebar CssClass="sticky-top">
        <HeaderTemplate>
            <HxSidebarBrand BrandName="DashTransit" BrandNameShort="DT" />
        </HeaderTemplate>
        <ItemsTemplate>
            <HxSidebarItem Text="Dashboard" Href="/" Match="NavLinkMatch.All" />
            <HxSidebarItem Text="Messages" Href="message" Match="NavLinkMatch.All" />
            <HxSidebarItem Text="Faults" Href="fault" Match="NavLinkMatch.All" />
            <HxSidebarItem Text="Endpoints" Href="endpoint" Match="NavLinkMatch.All" />
        </ItemsTemplate>
    </HxSidebar>
    <article class="main p-4 flex-grow-1 overflow-hidden">
        @Body
    </article>
</main>