@inherits LayoutComponentBase

<PageTitle>DashTransit</PageTitle>

<div class="main-container">
    <header>
        <h1>DashTransit</h1>
    </header>
    <main>
        <aside>
            <FluentAnchor class="side-link" href="" Appearance=@Appearance.Lightweight>Dashboard</FluentAnchor>
            <FluentAnchor class="side-link" href="message" Appearance=@Appearance.Lightweight>Messages</FluentAnchor>
        </aside>
        <article>
            @Body
        </article>
    </main>
</div>