@inherits LayoutComponentBase

<PageTitle>DashTransit</PageTitle>

<HxMessenger Position="ToastContainerPosition.BottomStart" />
<main class="d-md-flex min-vh-100">
    <HxSidebar CssClass="sticky-top">
        <HeaderTemplate>
            <HxSidebarBrand BrandName="DashTransit" />
        </HeaderTemplate>
        <ItemsTemplate>
            <HxSidebarItem Text="Dashboard" Href="/" Match="NavLinkMatch.All" Icon="BootstrapIcon.HouseFill" />
            <HxSidebarItem Text="Messages" Href="message" Match="NavLinkMatch.Prefix" Icon="BootstrapIcon.EnvelopeFill" />
            <HxSidebarItem Text="Faults" Href="fault" Match="NavLinkMatch.Prefix" Icon="BootstrapIcon.EnvelopeExclamationFill" />
            <HxSidebarItem Text="Endpoints" Href="endpoint" Match="NavLinkMatch.Prefix" Icon="BootstrapIcon.HddNetworkFill" />
        </ItemsTemplate>
    </HxSidebar>
    <div class="flex-grow-1 overflow-hidden">
        <HxNavbar ColorScheme="NavbarColorScheme.Dark" Color="ThemeColor.None">
            <HxNavbarToggler />
            <HxNavbarCollapse>
                <div class="d-flex justify-content-end w-100">
                    <HxButton Color="ThemeColor.Primary">Send New</HxButton>
                </div>
            </HxNavbarCollapse>
        </HxNavbar>
        <article class="main m-3">
            @Body
        </article>
    </div>
</main>