
div.main-container {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "siteheader"
        "main";
}

header {
    grid-area: siteheader;
    flex-grow: 1;
    background: var(--fill-color);
    padding: 0.5rem 1rem;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navigation content";
    grid-area: main;
}

main aside {
    grid-area: navigation;
    background-color: var(--fill-color);
    color: var(--neutral-foreground-rest);
    padding-left: calc(var(--design-unit) * 3px);
}

main aside ::deep fluent-anchor {
    width: 100%;
}

main article {
    grid-area: content;
    --elevation: 2;
    background-color: var(--fill-color);
    color: var(--neutral-foreground-rest);
    padding-inline-start: calc(var(--design-unit) * 6px);
}