@code {

    [Parameter, EditorRequired]
    public string Title { get; init; }

    [Parameter, EditorRequired]
    public string Rate { get; init; }

    [Parameter, EditorRequired]
    public string Stat { get; init; }

    [Parameter, EditorRequired]
    public bool Loading { get; init; }

}

<FluentCard>
    @if (Loading)
    {
        <FluentProgressRing/>
    }
    else
    {
        <div class="widget">
            <span class="title">@Title</span>
            <span class="stat">@Stat</span>
            <span class="rate">@Rate</span>
        </div>
    }
</FluentCard>