.widget {
    display: flex;
    flex-direction: column;
}

.widget .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.widget .stat {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.widget .rate {
    text-align: right;
}