@code {
    [Parameter, EditorRequired]
    public string? Title { get; init; }

    [Parameter, EditorRequired]
    public string? Rate { get; init; }

    [Parameter, EditorRequired]
    public Func<Task<string>>? Stat { get; init; }
}

<FluentCard>
    <div class="widget">
        <span class="title">@Title</span>
        <FluentLoader Fetch=@Stat>
            <span class="stat">@context</span>
        </FluentLoader>
        <span class="rate">@Rate</span>
    </div>
</FluentCard>